@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");





.searchInputDiv{
    width: 85%;
    display: flex;
}
.searchInput{
    width: 100%;
    margin: 0 1rem 0 1rem;
    padding: 1rem 1rem 1rem 1rem;
}


















/* //Button CSS */
.submitbtn > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  border: 0;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.submitbtn > button:hover {
  background-color: #f24353;
}






/* Css for spinner loading button */
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submitbtn:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}
  

@media screen and (max-width:585px){
    .searchInput{
        width: 80%;
    }
}
@media screen and (max-width:356px){
    .searchInput{
        width: 70%;
    }
}

