@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.container{
  margin:1rem 1rem 1rem 1rem;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}
.containerBlur{
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.208);
  z-index: 10;
}
.card{
  width: 100vw;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.208);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitSearchButton{
  margin-right: 2.5rem;
}
.submitSearchButton{
  /* width: 50%; */
  /* margin-right: 2rem; */
  width: auto;
}


/* Css for spinner loading button */
.spinnerDiv {
  width: 100vw;
  height: 100vh;
  z-index: 1000000000;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.208);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 10%;
  height: 10%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.userBody{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    height: 20%;
}
.pageButtonDiv{
  display: flex;
  justify-content: end;
  margin: 1rem 2rem 0rem 0rem;
}
.pageButtons{
   justify-content: end;
   background-color: #f45b69;
   color: white;
   border: 0;
   font-size: large;
   margin-right: 1rem;
  margin-left: 1rem;

}
.addUsersButton{
  background-color: #f45b69;
  color: white;
  border: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-right: 1rem;
}
.addUsersButton:hover{
  cursor: pointer;
  background-color: #f24353;
}
.pageButtons:hover{
  cursor: pointer;
  background-color: #f24353;
}
.searchButton{
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: white;
  background-color: #f45b69;
  border: none;
  border-radius: 4px;
}
.searchButtonDisabled{
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: white;
  pointer-events: none;
  background-color: grey;
  border: none;
  border-radius: 4px;
}
.searchButton:hover{
  cursor: pointer;
  background-color: #f24353;
}
.submitSearchButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}


.userList{
  width:93.5%;
  border: 1px solid rgb(50, 50, 50);
  margin: 2rem 0rem 0rem 1rem;
  background-color: white;
}
























/* //Button CSS */
.submitbtn{
  width: 10%;
}
.submitbtn > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  border: 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.submitbtn > button:hover {
  background-color: #f24353;
}






/* Css for spinner loading button */
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submitbtn:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}
  

@media screen and (max-width:520px) {
  .userBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .dropDownSubmitDiv{
    width: 100%;
    margin:1rem 0rem 1rem 1rem;
  }
  .dropDownSubmitDiv{
    width: 90%;
  }
  .dropdown{
    margin: 0rem 1rem 1rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

