@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.container{
  margin:1rem 1rem 1rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.userBody{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    height: 20%;
}
.pageButtonDiv{
  display: flex;
  justify-content: end;
  margin: 1rem 2rem 0rem 0rem;
}
.pageButtons{
   justify-content: end;
   background-color: #f45b69;
   color: white;
   border: 0;
   font-size: large;
   margin-right: 1rem;
  margin-left: 1rem;

}
.pageButtons:hover{
  cursor: pointer;
  background-color: #f24353;
}

.pageButtonDisabled{
  background-color: grey;
}


.userList{
  width:93.5%;
  border: 1px solid rgb(50, 50, 50);
  margin: 2rem 0rem 0rem 1rem;
  background-color: white;
}
























/* //Button CSS */
.submitbtn{
  width: 10%;
}
.submitbtn > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  border: 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.submitbtn > button:hover {
  background-color: #f24353;
}






/* Css for spinner loading button */
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submitbtn:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}
  

